/.obsidian/plugins
/.obsidian/plugins
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/workspace.json
.obsidian/workspace.json
.DS_Store
.obsidian/app.json
.obsidian/backlink.json
.obsidian/community-plugins.json
.obsidian/plugins/obsidian-icon-folder/data.json
.obsidian/plugins/smart-connections/data.json
.obsidian/themes/AnuPpuccin/manifest.json
.obsidian/themes/AnuPpuccin/theme.css
.obsidian/workspace.json
